@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

 /* .grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media only screen and (max-width: 600px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } 

}  */

/* .circle-border{
margin: auto !important;

} */

.img{
    height: 80px !important;
    width: 100px !important;
    float: left !important;
    
}


 body{
    background-color: aqua;
}
.text{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 45px;
}
.text03{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.text02{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #0071BC;
}
.text04{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.text05{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #33CAFF;
}
.text01{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
}
.p-text{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.p-text01{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}
.p-text02{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.cool-txt{
    color: white;
}
.img{
    float: right;
    clear: right;
}
.form{
    background-color: #0071BC;
    border-radius: 15px;
}
.promo{
    color: #FFB573;
} 



